@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-diagonal {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 90% 100%, 0 100%);
  }
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
